.comparison {
  max-width: 1200px;
  margin: 0 auto;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.chart h2 {
  width: 100%;
  text-align: left;
}
